body {
  margin: 0;
  background-color: #84443f;
  font-family: "Outfit", sans-serif;
  color: #ebebeb;
}

h1 {
  margin-top: 1rem;
  margin-bottom: 0;
  font-size: 64px;
  font-weight: 900;
  position: relative;
  top: 16px;
  z-index: 1;
  pointer-events: none;
}

h2 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1rem;
}

form {
  display: inline;
}

.container {
  max-width: 650px;
  margin-inline: auto;
}
#tabellone {
  background-color: #a38f64;
  color: #000000;
  border-radius: 8px;
  border: 8px solid #0c0b1d;
}
.cell {
  display: inline-block;
  width: 9.7%;
  height: 80px;
  position: relative;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
}

.cell:hover {
  background-color: #dcbf75;
}

.cell h3 {
  text-align: center;
  font-size: 26px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
}

.cell.clicked {
  border: solid 2px red;
}

#NumberRoll {
  width: 500px;
  height: 500px;
}
